# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

/.vscode
.DS_Store

*.py
!0-*.py
!1-*.py
!2-*.py
!3-*.py
!4-*.py
!5-*.py
!6-*.py
!7-*.py
!8-*.py
!9-*.py
!10-*.py
!11-*.py
!12-*.py
*-main.py
0-import_add.py
6-max_integer.py
8-my_class.py
8-my_class_2.py
8-main_2.py
!19-copy_list.py
!python-almost_a_circle/*/*.py

*.json
!devcontainer.json
*.pyc

my_file_0.txt
my_first_file.txt
file_append.txt

